*.gitattributes
*.vcxproj*
.metadata/*
.cproject
.project
Aula2/bin
Aula2/obj
Aula2/*.cbp
Aula2/*.depend
Aula2/*.layout
Aula3/bin
Aula3/obj
Aula3/*.cbp
Aula3/*.depend
Aula3/*.layout
Aula4/bin
Aula4/obj
Aula4/*.cbp
Aula4/*.depend
Aula4/*.layout
Aula5/bin
Aula5/obj
Aula5/*.cbp
Aula5/*.depend
Aula5/*.layout