*.gitattributes
*.vcxproj*
.metadata/*
.cproject
.project
Aula2/bin
Aula2/obj
Aula2/*.cbp
Aula2/*.depend
Aula2/*.layout
Aula3/bin
Aula3/obj
Aula3/*.cbp
Aula3/*.depend
Aula3/*.layout
Aula4/bin
Aula4/obj
Aula4/*.cbp
Aula4/*.depend
Aula4/*.layout
Aula5/bin
Aula5/obj
Aula5/*.cbp
Aula5/*.depend
Aula5/*.layout
Aula6/bin
Aula6/obj
Aula6/*.cbp
Aula6/*.depend
Aula6/*.layout
Ficha_frequencia1/bin
Ficha_frequencia1/obj
Ficha_frequencia1/*.cbp
Ficha_frequencia1/*.depend
Ficha_frequencia1/*.layout
Aula7/bin
Aula7/obj
Aula7/*.cbp
Aula7/*.depend
Aula7/*.layout
Aula8/bin
Aula8/obj
Aula8/*.cbp
Aula8/*.depend
Aula8/*.layout
Aula10/bin
Aula10/obj
Aula10/*.cbp
Aula10/*.depend
Aula10/*.layout
Aula11/bin
Aula11/obj
Aula11/*.cbp
Aula11/*.depend
Aula11/*.layout
python_algorithms/__pycache__
